@font-face {
    font-family: 'nunito-heavy';
    src: url('fonts/nunitoheavy-regular-webfont.woff2') format('woff2'),
         url('fonts/nunitoheavy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-bold';
    src: url('fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('fonts/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: #eee;
    font-family: nunito;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    font-family: nunito-heavy;
    font-size: 64px;
    font-weight: 800;
    margin-top: 50px;
}

.reset-btn {
    background-color: #eee;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 50px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 100px;
    row-gap: 10px;
}

.p1-shape,
.p2-shape {
    font-family: nunito-heavy;
    font-size: 64px;
}

.game-status {
    grid-column: 1 / 3;
    margin-top: 50px;
}

.board-container {
    font-family: nunito-bold;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 4px;
    background-color: #ccc;
}

.cell {
    border: none;
    background-color: black;
    color: #eee;
    display: grid;
    place-items: center;
    font-size: 90px;
}

.cell:hover {
    background-color: #333;
}

input[type='text'] {
    width: 150px;
    padding: 2px 4px;
}